STRAVA_CLIENT_ID=
STRAVA_CLIENT_SECRET=
STRAVA_REDIRECT_URI=http://localhost:8000/strava/authorize
ENVIRONMENT=dev

# JWT settings
JWT_SECRET=your-secret-here
JWT_LIFETIME_SECONDS=3600

# Database settings
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DB_NAME=postgres
